:root {
    --main-color: rgb(250, 148, 165);
    --main-color-hover: rgb(249, 115, 137);
    --accent-color: rgb(37, 180, 151)
}

a {
    color: var(--main-color);
}

a:hover {
    color:var(--main-color-hover)
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid var(--main-color-hover);
    color: var(--main-color-hover) !important;
}

.sidebar nav[role=doc-toc] ul>li>a:hover, .sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color:var(--main-color-hover) !important;
}

.toc-actions a:hover {
    color:var(--main-color-hover)
}

.quarto-secondary-nav nav.quarto-page-breadcrumbs a:hover {
    color:var(--main-color-hover)
}

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
    color: var(--main-color);
}

.nav-page a:hover {
    color: var(--main-color);
}

code {
    color:  var(--accent-color);
}

div.sidebar-item-container:hover, div.sidebar-item-container:focus {
    color:rgba(249, 115, 137, 0.8)
}

div.sidebar-header {
    text-align: center;
}

.sidebar-navigation li a {
    cursor: pointer;
}

.accent {
    color: var(--accent-color)
}